<div>
  <div class="jumbotron-home">
    <div id="header1" class="overlay">
      <div class ="content-block">
        <h1 class="text-light-gray" style="padding-top: 50px;font-size: 38px;font-weight: 600;">Embrace your inner weirdough</h1> 
        <p class="text-light-gray">#FireFam</p>
        <div class="top-homepage">
          <a href="#"><button class="buttondrp dropbtn1">Order Online</button></a>
          <a href="#"><button class="buttondrp dropbtn2">Join the Team</button></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row anchor-rustic-small text-center">
      <div class="anchor-col col-lg-12">
        <h2>Create your own Pizzas!</h2>
      </div>
    </div>
    <div class="row anchor-rustic" id="homepage-steps">
      <div class="col-lg-4 anchor-col center"> 
        <img src="/static/images/bonfire/pizza-dough.png">       
        <h3> Step One: Choose your dough </h3>
      </div>
      <div class="col-lg-4 anchor-col center">
        <img src="/static/images/bonfire/pizza-toppings.jpg" style="width:276.267px;border-radius: 80%;height:260.75px;">        
        <h3 style="padding-top: 37px;"> Step Two: Choose your toppings </h3>
      </div>
      <div class="col-lg-4 anchor-col center">
       <img src="/static/images/bonfire/finished-pizza.png" style="width:276.267px;height:262.75px;">
        <h3 style="padding-top: 37px;"> Step Three: Savor your creation! </h3>
      </div>
    </div>
    <div class="text-center row anchor-rustic">
      <div class="col-lg-12">
        <a href="/menu">
          <button class="buttondrp dropbtn1">View Our Menu</button>
        </a>
      </div>
    </div>   
    <!-- new row -->
    <div class="flame-parallax row">  
    </div> 
    <div class="row anchor-rustic">
      <div class="col-lg-7 anchor-col">
        <h2> Meet the Fire Fam </h2>
        <a href="/about_us">
          <button class="buttondrp dropbtn1">Learn More</button>
        </a>
      </div>
      <div class="col-lg-4 anchor-col">
        <img src="/static/images/bonfire/food-bind.png" style="width:100%;padding-top:20%;"/>
      </div>
    </div>  

    <div class="savory-parallax row">  
    </div>
    <!-- end of row -->
    
  </div>
</div>

