<br />
<br />
<br />
<br />
<br />
<div id="bonfire-aboutus">
  <div class="section section--solid section--no-padding bonfire-gray">
    <div class="container-fluid module-container media-right medium">
      <div class="row">
        <div class="col-sm-12 col-md-5 col-lg-6 media-right__copy">
          <h2 class="h2--stylized">Who we are</h2>
          <p>Bonfire Pizza is all about expressing yourself through your ingredients. We are taking fast-casual to whole new level by enabling you to be your own creative chef. Artisan-style pizzas and salads are individually sized, made on demand, and ready in just minutes. Choose from an abundant amount of fresh toppings – show us what you got! At its heart, however, Bonfire is a platform for giving back to the local community.</p>
        </div>
        <div class="col-md-7 col-lg-6 hidden-sm-down media-right__media" style="background-image: url('/static/images/bonfire/location.jpg');">
        </div>
      </div>
    </div>
  </div>
  <div class="section section--solid section--no-padding"><div class="container-fluid module-container media-right light">
    <div class="row">
      <div class="col-sm-12 col-md-5 col-lg-6 media-right__copy">
        <h2 class="h2--stylized">How we started</h2><p>Bonfire Pizza is all about expressing yourself through your ingredients. We are taking fast-casual to whole new level by enabling you to be your own creative chef. Artisan-style pizzas and salads are individually sized, made on demand, and ready in just minutes. Choose from an abundant amount of fresh toppings – show us what you got! At its heart, however, Bonfire is a platform for giving back to the local community. </p>
      </div>
              <div class="col-md-7 col-lg-6 hidden-sm-down media-right__media" style="background-image: url('/static/images/bonfire/location.jpg');">
            </div>
    </div>
  </div>
  </div><div class="section section--solid section--no-padding bonfire-blue"><div class="container-fluid module-container media-right teal">
    <div class="row">
      <div class="col-sm-12 col-md-5 col-lg-6 media-right__copy text-light-gray">
        <h2 class="h2--stylized">Our people-first mission</h2>
        <p>Bonfire Pizza is all about expressing yourself through your ingredients. We are taking fast-casual to whole new level by enabling you to be your own creative chef. Artisan-style pizzas and salads are individually sized, made on demand, and ready in just minutes. Choose from an abundant amount of fresh toppings – show us what you got! At its heart, however, Bonfire is a platform for giving back to the local community.</p>
        </div>
        <div class="col-md-7 col-lg-6 hidden-sm-down media-right__media" style="background-image: url(https://cdn.modpizza.com/wp-content/uploads/2016/10/people-first-880x450-1.png);">
        </div>
    </div>
  </div>
  </div>
</div>