<div>
  <div class="anchor-white-small row text-center">
    <div class="anchor-col col-lg-12">
      Pricing
    </div>
  </div>

  <div class="row anchor-gray">
    <div class="pricing-container">
      <h1>
        ByteSize Cloud
      </h1>
      <div class="pricing-box box-shadow green-border">
        <div class="pricing-title">
          Monthly Plan
        </div>
        <div class="pricing-detail">
          <div class="pricing-dollarsign">$</div>
          <div class="pricing-dollaramount">119.99/month</div>
        </div>
        <div class="pricing-detail-setup">
          +$300 installation fee
        </div>
        <a href="/contact_us">
        <button> 
          Get started
        </button>
        </a>
      </div>  
      <div class="pricing-box box-shadow green-border">
        <div class="pricing-title">
          Annual Plan
        </div>
        <div class="pricing-detail">
          <div class="pricing-dollarsign">$</div>
          <div class="pricing-dollaramount">74.99/month</div>
        </div>
        <div class="pricing-detail-setup">
          +$300 installation fee
        </div>
        <a href="/contact_us">
        <button> 
          Get started
        </button>
        </a>
      </div>
      <div class="pricing-box box-shadow green-border">
        <div class="pricing-title">
          Two-Year Plan
        </div>
        <div class="pricing-detail">
          <div class="pricing-dollarsign">$</div>
          <div class="pricing-dollaramount">49.99/month</div>
        </div>
        <div class="pricing-detail-setup">
          +$200 installation fee
        </div>
        <a href="/contact_us">
        <button> 
          Get started
        </button>
        </a>
      </div>
    </div>
  </div>

  <div class="row anchor-gray">
    <div class="pricing-container">
      <h1>
        ByteSize Marketing
      </h1>
      <div class="pricing-box box-shadow green-border">
        <div class="pricing-title">
          Basic
        </div>
        <div class="pricing-detail">
          <div class="pricing-dollarsign">$</div>
          <div class="pricing-dollaramount">499.99/month</div>
        </div>
        <div class="pricing-detail-setup">
          +$300 installation fee
        </div>
        <a href="/contact_us">
          <button> 
            Get started
          </button>
        </a>    
      </div>  
      <div class="pricing-box box-shadow green-border">
        <div class="pricing-title">
          Mid
        </div>
        <div class="pricing-detail">
          <div class="pricing-dollarsign">$</div>
          <div class="pricing-dollaramount">799.99/month</div>
        </div>
        <div class="pricing-detail-setup">
          +$300 installation fee
        </div>
      <a href="/contact_us">
        <button> 
          Get started
        </button>
      </a>
      </div>
      <div class="pricing-box box-shadow green-border">
        <div class="pricing-title">
          Advanced
        </div>
        <div class="pricing-detail">
          <div class="pricing-dollarsign">$</div>
          <div class="pricing-dollaramount">999.99/month</div>
        </div>
        <div class="pricing-detail-setup">
          +$200 installation fee
        </div>
        <a href="/contact_us">
        <button> 
          Get started
        </button>
        </a>
      </div>
    </div>
  </div>

  <div class="row anchor-gray">
    <div class="pricing-container">
      <h1>
        ByteSize Cloud & ByteSize Marketing
      </h1>
      <div class="pricing-box box-shadow green-border">
        <div class="pricing-title">
          Basic
        </div>
        <div class="pricing-detail">
          <div class="pricing-dollarsign">$</div>
          <div class="pricing-dollaramount">699.99/month</div>
        </div>
        <div class="pricing-detail-setup">
          +$300 installation fee
        </div>
        <a href="/contact_us">
        <button> 
          Get started
        </button>
        </a>
      </div>  
      <div class="pricing-box box-shadow green-border">
        <div class="pricing-title">
          Mid
        </div>
        <div class="pricing-detail">
          <div class="pricing-dollarsign">$</div>
          <div class="pricing-dollaramount">999.99/month</div>
        </div>
        <div class="pricing-detail-setup">
          +$300 installation fee
        </div>
        <a href="/contact_us">
        <button> 
          Get started
        </button>
        </a>
      </div>
      <div class="pricing-box box-shadow green-border">
        <div class="pricing-title">
          Advanced
        </div>
        <div class="pricing-detail">
          <div class="pricing-dollarsign">$</div>
          <div class="pricing-dollaramount">1499.99/month</div>
        </div>
        <div class="pricing-detail-setup">
          +$200 installation fee
        </div>
      <a href="/contact_us">
        <button> 
          Get started
        </button>
      </a>
      </div>
    </div>
  </div>
    <div class="container">
      <div class="row anchor-white-small" style="margin-top:81px;">
      <div class="anchor-col col-lg-12">
        Get Started on the ByteSize Cloud!
      </div>
    </div>
    <form id="email-form" enctype="multipart/form-data">
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="example@email.com">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="name">First and last name</label>
      <input type="name" class="form-control" id="name" placeholder="John Doe">
    </div>
    <div class="form-group">
      <label for="restaurant-name">Restaurant name</label>
      <input type="name" class="form-control" id="restaurant-name" placeholder="Mi Rico Peru">
    </div>
    <div class="form-group">
      <label for="restaurant-name">Restaurant location</label>
      <input type="name" class="form-control" id="restaurant-name" placeholder="Fairfax, Virginia">
    </div>
    <div class="form-group">
      <label for="phone">Phone Number</label>
      <input type="tel" class="form-control" id="phone" placeholder="(703) 555-5555">
    </div>
    <button class="btn btn-primary" onClick=sendEmail($('#email-form'))>Submit</button>
  </form>
  </div>
</div>
