<div>
  <div class="jumbotron-home">
    <div id="header1" class="overlay">
      <div class ="content-block">
        <h1 style="padding-top: 50px;font-size: 38px;font-weight: 600;">Cloud Based POS Just For You</h1>
        <p style="font-size:24px">Get real time data and analytics on your sales and customers!</p>
        <p>A ByteSize Solution</p>
        <div class="top-homepage">
          <a href="#"><button class="buttondrp dropbtn1">How It Works</button></a>
          <a href="/contact_us"><button class="buttondrp dropbtn2">Request A Demo</button></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
  <div class="row anchor-white-small text-center">
    <div class="anchor-col col-lg-12">
      What We Offer
    </div>
  </div>
    <div class="row anchor-white">
      <div class="col-sm-4 anchor-col">
        <div class="top-row">
          <h3><img src="/static/images/online_order.svg" width=30px /> Online Ordering</h3>           
          <p class="gray-font" >Let your customers order directly from your website.</p>
        </div>
        <div>
          <h3><img src="/static/images/employee_red.svg" style="width: 30px;"> Employee Portal</h3>
          <p class="gray-font">Connect your employees directly to your customers.</p>
        </div>
      </div>
      <div class="col-sm-4 anchor-col">
        <div class="top-row">
          <h3><img src="/static/images/red.svg" width=30px /> Digital Marketing</h3>
          <p class="gray-font"> Grow your online presence and turn clicks into leads.</p>
        </div>
        <div>
          <h3><img src="/static/images/inventory_red.svg" width="30px"> Inventory Tracker</h3>
          <p class="gray-font">Receive automated alerts and emails when your stock is running low.</p>
        </div>
      </div>
      <div class="col-sm-4 anchor-col">
        <div class="top-row">
          <h3><img src="/static/images/analytics_red.svg" width="30px/"> Business Analytics Tool</h3>
          <p class="gray-font"> Get a deeper look at your sales and restaurant data.</p>
        </div>
        <div>
          <h3><img src="/static/images/webdev_red.svg" width=30px /> Website Development</h3>
          <p class="gray-font">Let us craft a custom website for your restaurant.</p>
        </div> 
      </div>
    </div>
    
    <!-- new row -->
    <div class="row anchor-gray text-center">
      <div class="center-block green-border box-shadow" style="background:white;max-width:300px;">
        <img src="/static/images/networking.svg" height="70"/>
        <h2> PCI Compliant </h2>
        <p class="gray-font" style="padding-left: 10%;padding-right: 10%;"> 
          Our payment gateway sends credit card information securely over the network, using 
          the internet's secure socket layer. Our solution is 100% PCI-Compliant because data 
          integrity and security is our number one priority. 
        </p>
      </div>
    </div>
    <!-- end of row -->
    <div style="padding: 50px;">
    </div>
  </div>
</div>

