<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}&nbsp;|&nbsp;{{keywords}}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css" media="screen" charset="UTF-8">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <link rel="stylesheet" href="/static/stylesheets/menu.css">
    <link rel="stylesheet" href="/static/stylesheets/bonfire.css">
    <link rel="stylesheet" href="/static/stylesheets/about-us.css">
    <!--Icon Library for social media-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    -->    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="/static/js/jquery.js" charset="utf-8"></script>
    <script src="/static/js/bootstrap.js" charset="utf-8"></script>
    <script src="/static/js/script.js" charset="utf-8"></script>

</head>
<body>
  <nav class="navbar sticky-top navbar-dark navbar-custom navbar-expand-md" id="navbar1">
  <!-- Brand -->
    <div class="col-md-3 col-sm-10 col-xs-10 mt-1 text-center">
      <a href="/"> 
        <img src="/static/images/Bonfire-logo-white-01.png" width="150">
      </a>
    </div>
    <!-- collapse button -->
    <button class="navbar-toggler" data-toggle="collapse" data-target="#collapsefields" type="button" >
      <span class="navbar-toggler-icon"></span>
    </button>
  <!--Links Only with placeholders atm -->
    <div class="navbar-collapse collapse w-100" id="collapsefields">
      <ul class="navbar-nav w-100 justify-content-center float-right" id="top-navbar">
        <li class="nav-item">
          <a class="nav-link button" href="/locations">
            <span class="animated-underline">Locations</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link button" href="/menu">
            <span class="animated-underline">Menu</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about_us"> 
            <span class="animated-underline">About Us</span></a>
        </li>
        <li class="nav-item">
        <!--<a class="nav-link" href="/about_us"> <span class="animated-underline">About Us</span></a>-->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="animated-underline">Blog</span></a>
        </li>
      </ul>
    </div>
  </nav> 

  <div id="content">
    {{{body}}}
  </div>
  <div id="footer">
    <div class="footer-row3">
        <footer class="dark-gray-background">
            <div class="container-fluid">
                <div class="row text-white" id="footer-row-jont">
                    <div class="col-md-4 mt-1">
                        <h5 class="text-center font-weight-bold text-uppercase">Contact Us</h5>
                        <p class="contact-details-style">
                          <i class="fa fa-home mr-3 ml-1 ">
                          </i>
                           1741 E N Mile Road Suite 8, Pensacola, Florida
                        </p>
                        <p class="contact-details-style">
                          <i class="fa fa-envelope mr-3 ml-1 contact-details-style">
                          </i>
                          info@bonfirepizza.com
                        </p>
                        <p class="contact-details-style">
                          <i class="fa fa-phone mr-3 ml-1 contact-details-style">
                          </i>+1 (000) 000-0000
                        </p>
                    </div>
                    <div class="text-center col-md-4 mt-1">
                        <h5 class="font-weight-bold text-uppercase">Follow Us</h5>
                        <a href="#" class="fa fa-facebook-square media-icon"></a>
                        <a href="#" class="fa fa-instagram media-icon"></a>
                        <a href="#" class="fa fa-google-plus media-icon" ></a>
                    </div>
                    <div class="text-center col-md-4 mt-1">
                      <div>
                        <a class="text-white" href="#">
                          <span> About Bonfire Pizza </span> 
                        </a>
                      </div>
                      <div>
                        <a class="text-white" href="#">
                          <span> Franchising </span>
                        </a>
                      </div>
                       <div>
                         <a class="text-white" href="#">
                          <span> Join the Bonfire Squad </span>
                        </a>
                      </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="bonfire-blue footer-copyright text-center py-1">
      @ 2018 <a class="copyright-text-color" href="/">Bonfire Pizza&nbsp;</a> ALL RIGHTS RESERVED.
    </div>
    </footer>
</div>
</body>
</html>

